@import '~antd/lib/style/index';

@white: rgba(255, 255, 255, 0.9);

.ant-layout {
  min-height: 100vh;
}

.image-div img {
  display: block;
  margin: 30px auto;
}

.timer {
  text-align: center;
}

.timer h2 {
  color: @white;
}

.timer button {
  background-color: rgba(255, 255, 255, 0.93);
}

.timer button:hover {
  color: @white;
}

#navMenu {
  text-align: center;
}
#title-header h1 {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.9);
}

#title-header h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.9);
}

#title-header {
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0 auto;
}
.paragraph {
  width: clamp(45ch, 50%, 75ch);
  margin: auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
    .container {
      max-width: @breakpoint;
    }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);
.make-container(@screen-xxl-min, @screen-xxl);
